<%= javascript_include_tag 'jquery.slicknav', 'data-turbolinks-track' => true %>
<div class="showNews">
	<div class="container">
		<h1><%= @post.name %></h1>
		<div class="leftSection">
			<div class="postImage"><%= image_tag(@post.image) %> </div>

			<div class="logo"><%= image_tag "logo.png" %></div>
		</div>
		<div class="rightSection">
			<div class="fb-share-button" data-href="https://www.facebook.com/ChatSocialAc" data-layout="button"></div>

			<div class="tweet">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="¡Esta noticia está increíble!" data-via="chatsocial_ac">Tweet</a>
			</div>
			<div class="text"><%= @post.news %></div>

			<div class="source">Más Información:<br>
			<%= link_to @post.shortlink, @post.source, :target => "_blank" %></div>

			<% if current_user and current_user.posts?%>

				<div class="button">
				<%= link_to "Eliminar Post", post_path(@post), method: :delete %>
				</div>

				<div class="button"><%= link_to "Editar Post", edit_post_path(@post) %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="goBack">
	<div class="icon"><%= image_tag "backIcon.png" %></div>
	<div class="text"><%= link_to "REGRESAR", posts_path %></div>
</div>

<div class="footer">
	<div class="informacion">
        <a href="https://goo.gl/maps/wSPBR">
		<p>
        Luis de Molina 163, Int 11.<br>
		San Luis Potosí, SLP. México
		<br><br>
		Tel: +52 (444) 211 7794
		</p>
        </a>
	</div>
	<div class="rSociales">
		<div class="fb">
			<a href="https://www.facebook.com/ChatSocialAc"><%= image_tag "facebook.png" %></a>
		</div>
		<div class="tw">
			<a href="https://twitter.com/CHATSOCIAL_AC"><%= image_tag "twitter.png" %></a>
		</div>
		<div class="inst">
			<a href="https://plus.google.com/u/1/113826014774182886131/about"><%= image_tag "googleplus.png" %></a>
		</div>
	</div>
	<div class="nuva">
		<div><a href="http://www.nuva.rocks"><%= image_tag "nuva2015.svg" %></a></div>
	</div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>